

.forminput {
    width: 70%;
}

.signIn-header {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.loginForm {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fullWidth {
    width: 10rem;
}

.loginForm__button-start {
    width: 10rem;
    height: 4rem;
    color: white;
    background-color: #0163cc;
    margin-top: 3rem;

    &:hover {
        transform: scale(1.1);
    }
    
}